.email
  .email__container 
    h3.email__title Chào mừng bạn đến với cộng đồng Beerum
    p.email__content Hãy nhấn vào nút bên dưới để tạo tài khoản và tham gia cùng chúng tôi (đường link chỉ được sử dụng trong 30 phút)
    button.email__confirm Đăng ký với tài khoản email
