//- .mt-4
//-   h3 Đăng bài viết
//-   form(method='POST' action='/api/v1/posts/create')
//-     .form-group
//-       label(for='name') Tiêu đề bài viết
//-       input#name.form-control(type='text' name='title')
//-     .form-group
//-       label.name(for='description') Mô tả bài viết
//-       input#description.form-control(type='text' name='description')
//-     .form-group.mt-4.mb-4
//-       label.name(for='content') Nội dung bài viết
//-       input#content.form-control(type='text' name='content')
//-     .mt-4
//-       button.btn.btn-primary(type='submit') Thêm bài viết
